@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<iframe src="https://giphy.com/embed/9MeQamJpdQJsyPB9aQ/video" alt="Privacy" title="PrivacyGIF" width="480" height="252"></iframe>
            
