@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Net;
@using FloraFlow.Models;


@{
    ViewBag.Title = "SelectCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h1>Log In</h1>

@model User

@using (Html.BeginForm("Cookies", "LoginEnRegister", FormMethod.Post, new { id = "form1" }))
{
    <table>
        <tr>
            <td>
                UserName:
            </td>
            <td>
                @Html.TextBox("UserId")
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.Password("Password")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="login" name="login" />
            </td>
        </tr>
    </table>
    <div class="container">
     <a asp-area="" asp-controller="LoginEnRegister" asp-action="ToRegisterView">register here</a>
    </div>
   
}

