@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Net;
@using FloraFlow.Models;
@{
}

<h1>Register</h1>

@model User

@using (Html.BeginForm("register", "LoginEnRegister", FormMethod.Post, new { id = "form1" }))
{
    <table>
        <tr>
            <td>
                UserName:
            </td>
            <td>
                @Html.TextBox("UserId")
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.Password("Password")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="register" name="register" />
            </td>
        </tr>
    </table>
}
